---
import { Image } from "astro:assets"
import Accomplishments from "../sections/Accomplishments.astro"
import Restaurants from "../sections/Restaurants.astro"
import Steps from "../sections/Steps.astro"
import Testimonial from "../sections/Testimonial.astro"
import WhyFox from "../sections/WhyFox.astro"

import savingCommissions from "@/assets/benefit-28.png"
import incresaseSales from "@/assets/benefit-36.png"
import moreOrders from "@/assets/benefit-43.png"
import { FreeDemoForm } from "@/components/FreeDemoForm"
import { getI18N } from "@/i18n"
import RootLayout from "@/layouts/RootLayout.astro"
import "@/styles/globals.css"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<RootLayout title={i18n.SEO_TITLE} description={i18n.SEO_DESCRIPTION}>
	<main>
		<section class="hero mt-20 flex min-h-screen w-full py-20">
			<div class="container flex h-fit items-center justify-end gap-8">
				<div class="max-w-md">
					<h1 class="mx-auto text-right text-5xl tracking-tighter md:text-6xl lg:text-7xl">
						{i18n.HERO_TITLE}
					</h1>
					<p set:html={i18n.HERO_SUBTITLE} class="mt-8 text-pretty text-right text-lg" />
				</div>
				<div class="h-fit rounded-lg bg-background/75 p-6">
					<h2 class="mb-4 max-w-lg text-balance text-center text-2xl font-normal tracking-tight">
						{i18n.OWNER_FORM.TITLE}
					</h2>
					<FreeDemoForm client:load locale={currentLocale || "en"} />
				</div>
			</div>
		</section>

		<section class="bg-white py-20 text-black">
			<div class="container flex h-fit flex-wrap items-center justify-between gap-8">
				<div class="relative pb-4 pr-16">
					<Image src={moreOrders} alt="" />
					<p class="absolute right-0 top-32 max-w-40 text-xl">{i18n.FIRST_BENEFIT}</p>
				</div>
				<div class="relative pb-4 pr-16">
					<Image src={incresaseSales} alt="" />
					<p class="absolute right-0 top-32 max-w-40 text-xl">{i18n.SECOND_BENEFIT}</p>
				</div>
				<div class="relative pb-4 pr-16">
					<Image src={savingCommissions} alt="" />
					<p class="absolute right-0 top-32 max-w-40 text-xl">{i18n.THIRD_BENEFIT}</p>
				</div>
			</div>
		</section>

		<WhyFox />

		<Restaurants />

		<Steps />

		<Accomplishments />

		<Testimonial />
	</main>
</RootLayout>

<style>
	.hero {
		background-image: url("/banner-home.jpg");
		background-size: cover;
		background-position: center;
	}
</style>
