---
import { getCollection } from "astro:content"

import { getI18N } from "@/i18n"
import RootLayout from "@/layouts/RootLayout.astro"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
const posts = (await getCollection("blog")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)

const englishPosts = posts.filter((post) => post.data.lang === "en")
const spanishPosts = posts.filter((post) => post.data.lang === "es")
---

<RootLayout title={i18n.SEO.BLOG_TITLE} description={i18n.SEO.BLOG_DESCRIPTION}>
	<main>
		<section class="mt-20 flex min-h-screen w-full bg-white py-20">
			<div class="container flex h-fit flex-col gap-8">
				<h1
					set:html={i18n.BLOG.HERO_TITLE}
					class="text-5xl tracking-tighter text-black md:text-6xl lg:text-7xl"
				/>

				<ul class="grid gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
					{
						currentLocale === "en" &&
							englishPosts.map((post) => (
								<li class="flex flex-col gap-4 rounded-md border-border/25 text-black">
									<a
										class="group relative flex flex-col gap-4 rounded-md px-3 pb-3 pt-52 transition-shadow duration-300 hover:shadow-lg"
										href={`/blog/${post.slug}`}
									>
										<div class="absolute left-0 top-0 mt-2 h-48 w-full overflow-hidden rounded-t-md">
											<div
												class="transition-scale -z-10 h-full bg-cover bg-center bg-no-repeat duration-500 ease-in-out group-hover:scale-110"
												style={`background-image: url('${post.data.cardImage}')`}
											/>
										</div>
										<div>
											<span class="text-xs text-border">by {post.data.author}</span>
											<h4 class="text-xl font-bold">{post.data.title}</h4>
										</div>
										<p class="line-clamp-4" title={post.data.description}>
											{post.data.description}
										</p>
									</a>
								</li>
							))
					}
					{
						currentLocale === "es" &&
							spanishPosts.map((post) => (
								<li class="flex flex-col gap-4 rounded-md border-border/25 text-black">
									<a
										class="group relative flex flex-col gap-4 rounded-md px-3 pb-3 pt-52 transition-shadow duration-300 hover:shadow-lg"
										href={`/es/blog/${post.slug}`}
									>
										<div class="absolute left-0 top-0 mt-2 h-48 w-full overflow-hidden rounded-t-md">
											<div
												class="transition-scale -z-10 h-full bg-cover bg-center bg-no-repeat duration-500 ease-in-out group-hover:scale-110"
												style={`background-image: url('${post.data.cardImage}')`}
											/>
										</div>
										<div>
											<span class="text-xs text-border">by {post.data.author}</span>
											<h4 class="text-xl font-bold">{post.data.title}</h4>
										</div>
										<p class="line-clamp-4" title={post.data.description}>
											{post.data.description}
										</p>
									</a>
								</li>
							))
					}
				</ul>
			</div>
		</section>
	</main>
</RootLayout>
