---
import { Image } from "astro:assets"
import { buttonVariants } from "../ui/button"

import deloitteLogo from "@/assets/deloitte-logo.png"
import inc5000Logo from "@/assets/inc-5000-logo.png"
import ChevronRightIcon from "@/components/icons/ChevronRight.astro"
import { getI18N } from "@/i18n"
import { cn } from "@/lib/utils"
import "@/styles/globals.css"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<section class="bg-[#F3EFEF] py-20 text-black">
	<div class="container flex items-center justify-between gap-8">
		<div class="flex h-full max-w-lg flex-col items-start justify-center gap-4">
			<h2 class="text-pretty text-3xl font-bold">{i18n.ACCOMPLISHMENTS_TEXT}</h2>
			<a class:list={cn(buttonVariants({ variant: "link" }), "group h-fit w-fit p-0")} href="/#"
				>{i18n.ACCOMPLISHMENTS_BUTTON}
				<ChevronRightIcon
					class:list="ml-1 size-5 shrink-0 transition group-hover:translate-x-1"
				/></a
			>
		</div>
		<div class="w-fit space-y-4">
			<div class="flex items-center gap-2">
				<Image class="object-contain" src={inc5000Logo} alt="" />
				<div class="flex flex-wrap gap-4">
					<div class="flex items-center">
						<p class="text-pretty align-middle text-lg">
							{i18n.ACCOMPLISHMENTS_INC_5000_2021.YEAR}
						</p>
						<span
							class="-ml-2 bg-gradient-to-r from-primary/10 to-primary bg-clip-text text-7xl font-semibold tracking-tighter text-transparent"
							>{i18n.ACCOMPLISHMENTS_INC_5000_2021.POSITION}</span
						>
					</div>
					<div class="flex items-center">
						<p class="text-pretty align-middle text-lg">
							{i18n.ACCOMPLISHMENTS_INC_5000_2022.YEAR}
						</p>
						<span
							class="-ml-2 bg-gradient-to-r from-primary/10 to-primary bg-clip-text text-7xl font-semibold tracking-tighter text-transparent"
							>{i18n.ACCOMPLISHMENTS_INC_5000_2022.POSITION}</span
						>
					</div>
					<div class="flex items-center">
						<p class="text-pretty align-middle text-lg">
							{i18n.ACCOMPLISHMENTS_INC_5000_2023.YEAR}
						</p>
						<span
							class="-ml-2 bg-gradient-to-r from-primary/10 to-primary bg-clip-text text-7xl font-semibold tracking-tighter text-transparent"
							>{i18n.ACCOMPLISHMENTS_INC_5000_2023.POSITION}</span
						>
					</div>
				</div>
			</div>

			<div class="flex w-full items-center justify-start gap-2">
				<Image class="object-contain" src={deloitteLogo} alt="" />
				<div class="flex flex-col">
					<div class="flex items-center">
						<p class="text-pretty align-middle text-lg">
							{i18n.ACCOMPLISHMENTS_DELOITTE_2023.YEAR}
						</p>
						<span
							class="-ml-2 bg-gradient-to-r from-primary/10 to-primary bg-clip-text text-7xl font-semibold tracking-tighter text-transparent"
							>{i18n.ACCOMPLISHMENTS_DELOITTE_2023.POSITION}</span
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
