---
import { Image } from "astro:assets"

import foxLogo from "@/assets/logo-white.png"
import FooterLink from "@/components/FooterLink.astro"
import FooterLinkIcon from "@/components/FooterLinkIcon.astro"
import FacebookIcon from "@/components/icons/Facebook.astro"
import InstagramIcon from "@/components/icons/Instagram.astro"
import LinkedinIcon from "@/components/icons/Linkedin.astro"
import MapPinIcon from "@/components/icons/MapPin.astro"
import XIcon from "@/components/icons/X.astro"
import Link from "@/components/Link.astro"
import { buttonVariants } from "@/components/ui/button"
import { getI18N } from "@/i18n"
import { getLangFromUrl, useTranslatedPath } from "@/i18n/utils"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const lang = getLangFromUrl(Astro.url)
const translatePath = useTranslatedPath(lang)
---

<footer class="flex flex-col">
	<div class="bg-white py-20">
		<div class="container flex flex-wrap justify-between gap-4">
			<div class="flex flex-col gap-y-1">
				<h5 class="mb-5 text-xl font-bold text-primary">{i18n.FOOTER.COMPANY.TITLE}</h5>
				<FooterLink href="/#">{i18n.FOOTER.COMPANY.WHY_FOX}</FooterLink>
				<FooterLink href="/#">{i18n.FOOTER.COMPANY.ABOUT_US}</FooterLink>
				<FooterLink href="/#">{i18n.FOOTER.COMPANY.SUCCESS_STORIES}</FooterLink>
				<FooterLink href={translatePath("/blog")}>{i18n.FOOTER.COMPANY.BLOG}</FooterLink>
				<FooterLink href="/#">{i18n.FOOTER.COMPANY.WORK_WITH_US}</FooterLink>
			</div>

			<div class="flex flex-col gap-y-1">
				<h5 class="mb-5 text-xl font-bold text-primary">{i18n.FOOTER.PARTNER.TITLE}</h5>
				<FooterLink href="/#">{i18n.FOOTER.PARTNER.ORDER_ONLINE}</FooterLink>
				<FooterLink href={translatePath("/partners-and-integrations")}
					>{i18n.FOOTER.PARTNER.PARTNERS_AND_INTEGRATIONS}</FooterLink
				>
				<FooterLink href="/#">{i18n.FOOTER.PARTNER.FROM_THE_RESTAURANT}</FooterLink>
				<FooterLink href="/#">{i18n.FOOTER.PARTNER.REFER_RESTAURANT}</FooterLink>
			</div>

			<div class="flex flex-col gap-y-1">
				<h5 class="mb-5 text-xl font-bold text-primary">{i18n.FOOTER.CONTACT_US.TITLE}</h5>
				<FooterLink href="tel:8668836967" target="_blank">{i18n.FOOTER.CONTACT_US.PHONE}</FooterLink
				>
				<FooterLink href="/#">{i18n.FOOTER.CONTACT_US.EMAIL}</FooterLink>
			</div>

			<div class="flex flex-col gap-y-1">
				<h5 class="mb-5 text-xl font-bold text-primary">{i18n.FOOTER.SUPPORT.TITLE}</h5>
				<FooterLink href={translatePath("/frequently-asked-questions")}
					>{i18n.FOOTER.SUPPORT.FAQ}</FooterLink
				>
				<FooterLink href="/#">{i18n.FOOTER.SUPPORT.SPEAK_WITH_AGENT}</FooterLink>
				<FooterLink href={translatePath("/google-3rd-party-disclosure-statement")}
					>{i18n.FOOTER.SUPPORT.GOOGLE_3RD_PARTY}</FooterLink
				>
			</div>

			<div class="flex h-auto min-w-40 items-center">
				<Link class:list={["w-full", buttonVariants({ variant: "default" })]} href="/#"
					>{i18n.FOOTER.FOOTER_BUTTON}</Link
				>
			</div>
		</div>
	</div>

	<div class="container flex items-center justify-between py-14">
		<a href="/"><Image class="h-16 w-auto" src={foxLogo} alt="Fox Ordering logo." /></a>
		<div class="flex items-center">
			<MapPinIcon class="mr-2 size-4 shrink-0 text-primary" /> 4301 Oak Circle, Boca Raton, FL 33431
		</div>
		<div class="flex items-center gap-6">
			<FooterLinkIcon href="#" target="_blank"
				><InstagramIcon class="size-10 shrink-0" /></FooterLinkIcon
			>
			<FooterLinkIcon href="#" target="_blank"
				><FacebookIcon class="size-10 shrink-0" /></FooterLinkIcon
			>
			<FooterLinkIcon href="#" target="_blank"><XIcon class="size-10 shrink-0" /></FooterLinkIcon>
			<FooterLinkIcon href="#" target="_blank">
				<LinkedinIcon class="size-10 shrink-0" /></FooterLinkIcon
			>
		</div>
	</div>
</footer>
