---
import { getI18N } from "@/i18n"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<section class="bg-team flex w-full bg-cover bg-fixed bg-center py-20">
	<div class="container h-full text-white">
		<div class="mx-auto max-w-5xl">
			<h2 class="mb-8 text-balance text-3xl font-bold text-primary">
				{i18n.ABOUT_US.TEAM_TITLE_1}
			</h2>
			<p class="text-pretty">{i18n.ABOUT_US.TEAM_TEXT_1}</p>
			<p class="mt-4 text-pretty">{i18n.ABOUT_US.TEAM_TEXT_2}</p>
			<h2 class="my-8 text-balance text-3xl font-bold text-primary">
				{i18n.ABOUT_US.TEAM_TITLE_2}
			</h2>
			<p class="text-pretty">{i18n.ABOUT_US.TEAM_TEXT_3}</p>
			<p class="mt-4 text-pretty">{i18n.ABOUT_US.TEAM_TEXT_4}</p>
			<p class="mt-4 text-pretty">{i18n.ABOUT_US.TEAM_TEXT_5}</p>
		</div>
	</div>
</section>
